<section id="owner">
  <div class="container mainpage">
    <header>
      <%= image_tag(image_url("/profile-img.jpg"), size: "150x150",
        class: "img-circle owner-img") %>
      <h1> Hi! <br/>
        My name is <strong>Dren Gravidez</strong>
        and I am a Programmer
      </h1>
      <hr/>
    </header>
    <body>
      <div class="row">
        <div class="col-md-7">
          <h2># About Me </h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="col-md-5">
          <h2># Contact Info </h2>
          <ul class="contact-list">
            <li> <a href="#">
              <%= image_tag(image_url("/owner_page/phone.jpg"),
                class: "contact-img") %> (63)926 4520 190 </a>
            </li>
            <li> <a href="#">
              <%= image_tag(image_url("/owner_page/gmail.png"),
                class: "contact-img") %> gravides.dren@gmail </a>
            </li>
            <li> <a href="https://ph.linkedin.com/in/aldrin-gravides-3572a7101">
              <%= image_tag(image_url("/owner_page/linkedin.png"),
                class: "contact-img") %> Aldrin Gravides </a>
            </li>
            <li> <a href="https://facebook.com/drengravidez">
              <%= image_tag(image_url("/owner_page/fb.jpg"),
                class: "contact-img") %> Dren Gravidez </a>
            </li>
            <li> <a href="https://twitter.com/xaknidren">
              <%= image_tag(image_url("/owner_page/twitter.png"),
                class: "contact-img") %> @xaknidren </a>
            </li>
            <li> <a href="https://instagram.com/xaknidren">
              <%= image_tag(image_url("/owner_page/instagram.jpg"),
                class: "contact-img") %> @xaknidren </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <h2># Education and Experience</h2>
          <div class="media">
            <div class="media-left pull-left">
              <a href="#">
                2016-Pres
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Framgia Philippines</h4>
              <p> Junior Web Developer </p>
            </div>
          </div>
          <div class="media">
            <div class="media-left pull-left">
              <a href="#">
                2013-2015
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Information Managers Inc</h4>
              <p> Junior Programmer </p>
            </div>
          </div>
          <div class="media">
            <div class="media-left pull-left">
              <a href="#">
                2008-2013
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">University of the East, Manila</h4>
              <p> Bachelor of Scienece in Information Technology </p>
            </div>
          </div>
          <div class="media">
            <div class="media-left pull-left">
              <a href="#">
                2004-2008
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">OLRA College Foundation</h4>
              <p> High School</p>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <h2># Skills </h2>
          <div class="row skills">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width:90%;">
                <p>Ruby on Rails</p>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width:90%;">
                <p>Progress OpenEdge</p>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width:100%;">
                <p>HTML / CSS</p>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width:100%;">
                <p>MySQL</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <h2># Services</h2>
            <div class="alert alert-success" role="alert"> <i class="glyphicon glyphicon-ok"></i> At vero eos et accusamus et iusto odio. </div>
            <div class="alert alert-info" role="alert"><i class="glyphicon glyphicon-ok"></i> Dignissimos ducimus qui blanditiis praesentium voluptatum. </div>
            <div class="alert alert-success" role="alert"> <i class="glyphicon glyphicon-ok"></i> Deleniti atque corrupti quos dolores et quas. </div>
            <div class="alert alert-info" role="alert"><i class="glyphicon glyphicon-ok"></i> Molestias excepturi sint occaecati cupiditate non provident. </div>
            <div class="alert alert-success" role="alert"> <i class="glyphicon glyphicon-ok"></i> Similique sunt in culpa qui officia deserunt mollitia animi. </div>
            <div class="alert alert-info" role="alert"><i class="glyphicon glyphicon-ok"></i> Id est laborum et dolorum fuga. Et harum quidem rerum facilis est. </div>
          </div>
          <div class="col-md-5">
            <h2># Projects</h2>
            <ul class="work-list">
              <li> <a href="#"> <%= image_tag(image_url("/recent_projs/work1.jpg"), size: "400x80",
                class: "work-img") %> </a> </li>
              <li> <a href="#"> <%= image_tag(image_url("/recent_projs/work2.png"), size: "400x80",
                class: "work-img") %> </a> </li>
              <li> <a href="#"> <%= image_tag(image_url("/recent_projs/work3.jpg"), size: "400x80",
                class: "work-img") %> </a> </li>
              <li> <a href="#"> <%= image_tag(image_url("/recent_projs/work4.jpg"), size: "400x80",
                class: "work-img") %> </a> </li>
              <li> <a href="#"> <%= image_tag(image_url("/recent_projs/work5.jpg"), size: "400x80",
                class: "work-img") %> </a> </li>
            </ul>
          </div>
        </div>
      </div>
    </body>
<footer>
  <div class= "container">
    <div class= "row">
      <div class= "col-md-6 menu">
        <ul>
          <li> <a href= "<%= root_path %>"> Home </a></li>
        </ul>
      </div>
      <div class= "col-md-6 copyright">
        <p>Copyright &copy; 2016. All Rights Reserved. By Dren Gravidez. </p>
      </div>
    </div>
  </div>
</footer>
  </div>
</section>

